{% extends 'base.html' %}
{% load static %}



{% block title %} quitter | reportform {% endblock title %}

{% block content %}

    <h1>報告の入力</h1>
    <hr>
    <p>{{ reporter }}さん</p>
    <p>「{{ quiz.title }}」のクイズで気になった点を入力してください。</p>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button type="submit" class='btn btn-dark'>投稿する</button>
    </form>
    <hr>

    <div>
        <a href="JavaScript:history.back()">&lt;戻る</a>
    </div>

{% endblock content %}